$color-md-grey: #ccc;
$color-lt-grey: #eee;
$color-blue: #0000ee;

.ContestPreview {
	margin: 1em;
	border: 1px solid $color-md-grey;

	.category-name {
		border-bottom: 1px solid $color-md-grey;
		padding: 0.25em 0.5em;
		font-weight: bold;
		background-color: $color-lt-grey;
	}

	.contest-name {
		padding: 0.5em;
	}
}

.link {
	cursor: pointer;
}

.home-link {
	margin-top: 1em;
	color: $color-blue;
}
